@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.card{
    max-width: 350px;
    background-color: rgb(119, 22, 67);
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    &__item{
        padding: 10px;
    }

    &__plan{
        font-size: 22px;
    }


}